// ------------------------------------------------------------------------------------------------------------------
// Font
// ------------------------------------------------------------------------------------------------------------------
@font-face {
  font-family: "Gelion";
  src: url("../../assets/Gelion-Regular.otf") format(opentype);
}
$font: "Gelion", BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  “Helvetica Neue”, Arial, sans-serif;

// ------------------------------------------------------------------------
// Responsive breakpoints
// ------------------------------------------------------------------------
$desktop-min-width: 1024px;
$tablet-min-width: 768px;

// ------------------------------------------------------------------------
// Colors
// ------------------------------------------------------------------------
$background: #600040;
$primary: #ff4e59;

// ------------------------------------------------------------------------
// Sizes
// ------------------------------------------------------------------------
$min-width: 860px;

$header-height-phone: 4em;
$header-height-tablet: 5em;
$header-height-desktop: 6em;

// ------------------------------------------------------------------------
// Footer (pp)
// ------------------------------------------------------------------------
$footer-height-phone: 4em;
$footer-height-tablet: 5em;
$footer-height-desktop: 6em;
