.wrapper {
  display: flex;
  padding: 25px 0;
  border-bottom: 1px dotted #ddd;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  padding: 1.5rem 1rem;
  margin: 1rem 1.5rem;
  transition: all 300ms ease 0s;
  border-radius: 30px;
  z-index: 0;

  &:first-child {
    margin-top: 20px;
  }
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 15px 30px 0px,
      rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;

    top: 4px;
  }
}

.avatar {
  flex: 0 0 80px;
  padding-left: 1rem;
}

.profile {
  padding-left: 26px;
  flex: 1;
  h3 {
    padding-bottom: 0.5em;
    font-size: 1.3em;
  }

  a {
    text-decoration: none;
  }

  dl {
    margin: 0.6em 0 0;
  }

  dt {
    text-transform: uppercase;
    font-size: 0.84em;
    font-weight: 600;
    &::after {
      content: "";
      margin-right: 7px;
    }
  }
  dd::after {
    display: block;
    content: " ";
    margin-top: 0.6em;
  }

  dd,
  ul {
    font-weight: 600;
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 1.3;
  }

  dt,
  dd,
  ul,
  li {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: 1.3;
  }
}

.languages {
  li {
    display: inline-block;

    &::after {
      display: inline-block;
      content: "·";
      margin: 0 8px;
    }

    &:last-child::after {
      content: "";
    }
  }
}
.social {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  margin-right: 4px;
  a {
    margin: 4px;
    text-decoration: none;
    &:visited,
    &:hover,
    &:link {
      color: #34495e;
      text-decoration: none;
    }
  }
}
