@import "../../styles/helpers/variables.scss";
@import "../../styles/helpers/mixins.scss";

.header {
  align-items: center;
  background: $background;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.15);
  height: $header-height-phone;
  justify-content: space-between;
  padding: 1em 2em;
  width: 100%;
  z-index: 1;

  @include desktop {
    height: $header-height-desktop;
    padding: 1em 4em;
  }

  @include tablet {
    height: $header-height-tablet;
  }

  .logo {
    height: 2em;
    margin: 0 auto;

    @include tablet {
      height: 3em;
    }
    @include desktop {
      height: 3em;
    }
  }
}
