@import-normalizer;
@import "./styles/helpers/variables.scss";
@import "./styles/helpers/mixins.scss";

body {
  @include antialiased;
  background-color: #fff;
  color: $background;
  font-family: $font;
  font-size: 1em;
  height: 100%;
  margin: 0 !important;
  position: relative;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: $primary;
}

::selection {
  color: white;
  background: $primary;
}
a:active,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}
a {
  color: white;
}
