@import "../../styles/helpers/variables.scss";
@import "../../styles/helpers/mixins.scss";

.airtable_wrapper {
  position: relative;
}

.container {
  padding: 0 1em 4em;

  @include tablet {
    padding: 1em 2em 7em;
  }

  @include desktop {
    padding: 1em 4em 7em;
  }
}

.iframe {
  height: 60vh;
  background:url(../../assets/loader.gif) center center no-repeat;
  border: 1px solid #ccc;

  @include desktop {
    height: 65vh;
  }

  @include tablet {
    height: 65vh;
  }
}

.join {
  margin: 0 0 2em;
  text-align: right;
}

.join_btn {
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: inline-block;
  font-family: $font;
  font-size: 1em;
  line-height: 3em;
  width: 100%;
  @include antialiased;

  &_primary {
    background: $background;
    border-radius: 1em;
    color: white;
    font-weight: 600;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
  }
}
