@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/variables.scss";

.wrapper {
  display: block;
  padding: 2em 1em 0em;
  text-align: left;

  @include tablet {
    padding: 3em 2em 0em;
  }

  @include desktop {
    padding: 3em 4em 0em;
  }

  h3 {
    @include antialiased;
    font-weight: 500;
    line-height: 2em;
  }
}
